<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="admindashboard.css">

    <title>Admin dashboard</title>

</head>
<body>
    
    <div class="whole-container" id="dashboard">

        <!-- Menu -->
        <div class="menu">
            <div>
                <!--header-->
                <div class="menu-header-container">
                    <p class="menu-header-text">Menu</p>
                </div>

                <!--Menu items-->
                <div class="flex flex-column">
                    <button class="menu-item restaurant-menu">
                        <span class="menu-item-text" onclick="displaySubmenu('restaurantSubmenu')">Restaurants</span>
                    </button>

                    <div class="submenu flex relative flex-column" name="restaurantSubmenu">
                        <button class="submenu-item search-submenu">
                            <span class="submenu-item-text" v-on:click="changeDisplay('restaurants')">Show restaurants</span>
                        </button>
                        <button class="submenu-item add-submenu">
                            <span class="submenu-item-text" v-on:click="addRestaurantViewChange()">Add restaurant</span>
                        </button>
                    </div>
                </div>

                <div class="flex flex-column">
                    <button class="menu-item user-menu">
                        <span class="menu-item-text" onclick="displaySubmenu('userSubmenu')">Users</span>
                    </button>

                    <div class="submenu flex relative flex-column" name="userSubmenu">
                        <button class="submenu-item search-submenu">
                            <span class="submenu-item-text" v-on:click="changeDisplay('users')">Show users</span>
                        </button>
                        <button class="submenu-item add-submenu" v-on:click="changeDisplay('specificUser')">
                            <span class="submenu-item-text">Add users</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Logout menu item-->
            <div class="menu-logout">
                <button class="logout-button">
                    <span class="menu-item-text logout-text">Logout</span>
                </button>
            </div>
        </div>

        <!-- Panels -->
        <!-- Restaurants view -->
        <div class="content" v-if="visible == 'restaurants'">

            <!-- Header -->
            <div class="content-header flex flex-column relative">
                <div style="border-bottom: 1px solid black;">
                    <span class="menu-header-text content-header-text">Restaurants view</span>
                </div>
            </div>

            <!-- Filtering area -->
            <div class="flex relative filtering-area">
                <input type="text" class="text-input name-input-filter" placeholder="Restaurant name..." v-model="restaurantFilterObj.name">
                <input type="text" class="text-input name-input-filter" placeholder="Type..." v-model="restaurantFilterObj.type">
                <input type="text" class="text-input name-input-filter" placeholder="Location..." v-model="restaurantFilterObj.location">
                
                <div class="flex relative flex-column">
                    <div class="combo-imput rest-type-width-filtering" onclick="openDropDown('typefilterselect')" name="typefilterselect">
                        <span class="placeholder-text">Mark :        </span> {{restaurantFilterObj.mark}}
                    </div>
                    <div class="combo-options" name="typefilterselectdropdown">
                        <button class="combo-option combo-option-first" v-on:click="changeFilterMark('All marks', 'typefilterselect')">All marks</button>
                        <button class="combo-option"  v-on:click="changeFilterMark('1', 'typefilterselect')">1</button>
                        <button class="combo-option"  v-on:click="changeFilterMark('2', 'typefilterselect')">2</button>
                        <button class="combo-option"  v-on:click="changeFilterMark('3', 'typefilterselect')">3</button>
                        <button class="combo-option"  v-on:click="changeFilterMark('4', 'typefilterselect')">4</button>
                        <button class="combo-option combo-option-last" v-on:click="changeFilterMark('5', 'typefilterselect')">5</button>
                    </div>
                </div>

                <button class="asc-desc text-input" v-on:click="changeAscDes()" name="ascDescButton">
                    <span class="placeholder-text">Order :    </span> {{restaurantFilterObj.ascDes}}
                </button>
            </div>

            <div class="restaurants">

                <div class="single-restaurant flex relative" v-for="restaurant in restaurants" v-on:click="displaySpecificRestaurant(restaurant)">
                    <div class="picture-area">
                        <img src="../Images/gold-member.png" style="max-width: 120px;">
                    </div>

                    <div class="flex relative space-between">
                        <div class="rest-name-and-type flex flex-column">
                            <span class="rest-detail-text">{{restaurant.name}}</span>
                            <span class="rest-detail-text">{{restaurant.type}}</span>
                        </div>
                        <div class="rest-name-and-type flex flex-column align-center-column">
                            <span class="rest-detail-text">{{restaurant.location}}</span>
                        </div>
                        <div class="rest-name-and-type flex flex-column" style="min-width: 250px;">
                            <span class="rest-detail-text">{{restaurant.rating}}*</span>
                            <span class="rest-detail-text">{{getManagerByNameSurnameById(restaurant.managerId)}}</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- Specific restaurant view -->
        <div class="content" v-if="visible == 'specificRestaurant'">
            <!-- Header -->
            <div class="content-header flex flex-column relative space-between">
                <div style="border-bottom: 1px solid black; height: 69px;" class="flex max-width space-between">
                    <span class="menu-header-text content-header-text">{{selectedRestaurant.name}}</span>
                    
                    <button class="edit-restaurant-button" v-on:click="editRestaurantViewChange()">Edit restaurant details</button>
                </div>
            </div>

            <div class="flex space-between relative">
                <div class="restaurant-items w-50 flex relative">
                    <!-- Single restaurant item -->
                    <div class="restaurant-item flex space-between" v-for="item in items">
                        <div class="w-50 flex flex-column" style="padding-right: 10px; border-right: 1px solid #dadada;">
                            <div class="put-center flex flex-column">
                                <img src="../Images/silver-member.png" style="max-width: 100px; border-radius: 10px; margin-bottom: 30px;">
                                <span class="restaurant-item-header">{{item.name}}</span>

                                <div class="flex flex-column item-detail">
                                    <div class="flex space-between" style="margin-bottom: 20px;">
                                        <span class="item-detail-text">Price</span>
                                        <span class="item-detail-text">{{item.price}}</span>
                                    </div>
                                    <div class="flex space-between" style="margin-bottom: 20px;">
                                        <span class="item-detail-text">Amount</span>
                                        <span class="item-detail-text">{{item.amount + (item.unit == 'GRAM' ? 'g' : 'l')}}</span>
                                    </div>
                                    <div class="flex space-between" style="margin-bottom: 20px;">
                                        <span class="item-detail-text">Type</span>
                                        <span class="item-detail-text">{{item.type}}</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="w-50 flex put-center" style ="padding-left: 10px; justify-content: center;">
                            <span class="item-description text-center">{{item.description}}</span>
                        </div>
                    </div>
                </div>

                <div class="flex w-50 flex-column space-between" style="padding-left: 25px;">
                    <!-- Restaurants details -->
                    <div class="flex restaurant-details flex-column space-between">
                        <div class="flex space-between put-center">
                            <span class="item-detail-text">{{selectedRestaurant.type}}</span>
                            <img src="../Images/bronze-member.png" style="max-width: 75px; border-radius: 10px;">
                        </div>
                        <div class="flex space-between put-center">
                            <span class="item-detail-text">{{selectedRestaurant.status}}</span>
                            <span class="item-detail-text">{{selectedRestaurant.location}} <a href="#" style="color: black;">({{selectedRestaurant.geoLocation}})</a></span>
                        </div>
                        <div class="flex put-center space-between">
                            <span class="item-detail-text">{{selectedRestaurant.rating}}*</span>
                            <span class="item-detail-text">{{getManagerByNameSurnameById(selectedRestaurant.managerId)}}</span>
                        </div>
                    </div>

                    <div class="flex restaurant-comments flex-column">
                        <div class="comments-header flex">
                            comments
                        </div>
                        <div class="comments-content flex flex-column">
                            <div class="flex flex-column" style="margin-bottom: 40px;" v-for="comment in comments">
                                <span class="comment-text">{{comment.text}}</span>
                                <div class="flex space-between">
                                    <span>Mark : {{comment.mark}}*</span>
                                    <span>{{comment.username}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- AddEdit restaurant view -->
        <div class="content" v-if="visible == 'addEditRestaurant'">
            <!-- Header -->
            <div class="content-header flex flex-column relative space-between">
                <div style="border-bottom: 1px solid black; height: 69px;" class="flex max-width space-between">
                    <span class="menu-header-text content-header-text">Manipulate restaurants</span>
                </div>
            </div>

            <div class="flex relative">
                <div class="flex relative w-50 flex-column">
                    <div class="input-group flex space-between">
                        <span class="input-label">Name :</span>
                        <input type="text" class="text-input input-field" v-model="tempRestaurant.name">
                    </div>
                    <div class="input-group flex space-between">
                        <span class="input-label">Type :</span>
                        <div class="flex input-field">
                            
                            <div class="flex relative flex-column">
                                <div class="combo-imput manager-select-width" onclick="openDropDown('typeSelect')" name="typeSelect">
                                    {{tempRestaurant.type}}
                                </div>
                                <div class="combo-options manager-combo-options" name="typeSelectdropdown">
                                    <button v-bind:class="'combo-option ' + (index == 0 ? 'combo-option-first' : '') + (index == allTypes.length - 1 ? 'combo-option-last' : '')"
                                        v-for="(type, index) in allTypes" v-on:click="chooseType(type,'typeSelect')">
                                        {{type}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group flex space-between">
                        <span class="input-label">Location :</span>
                        <input type="text" class="text-input input-field" v-model="tempRestaurant.location">
                    </div>
                    <div class="input-group flex space-between">
                        <span class="input-label">Coordinates :</span>
                        <input type="text" class="text-input input-field" disabled v-model="tempRestaurant.geoLocation">
                    </div>
                    <div class="input-group flex space-between">
                        <span class="input-label">Upload logo :</span>
                        <input type="file"  class="custom-file-input" style="margin-right: 75px; width: 50%;" v-model="tempRestaurant.logo">
                    </div>
                    <div class="input-group flex space-between">
                        <span class="input-label">Manager :</span>
                        <div class="flex">
                            
                            <div class="flex relative flex-column">
                                <div class="combo-imput manager-select-width" onclick="openDropDown('managerSelect')" name="managerSelect">
                                    {{getManagerByNameSurnameById(tempRestaurant.managerId)}}
                                </div>
                                <div class="combo-options manager-combo-options" name="managerSelectdropdown">
                                    <button v-bind:class="'combo-option ' + (index == 0 ? 'combo-option-first' : '') + (index == allManagers.length - 1 ? 'combo-option-last' : '')"
                                        v-for="(manager, index) in allManagers" v-on:click="chooseManager(manager,'managerSelect')">
                                        {{manager.name}} {{manager.surname}}
                                    </button>
                                </div>
                            </div>

                            <button class="add-new-manager-button">
                                <span class="add-new-manager-text">Add new manager?</span>
                            </button>
                        </div>
                    </div>

                    <div class="submit-restaurant-div flex relative">
                        <button class="add-restaurant-button">Add restaurant</button>
                    </div>
                    
                </div>

                <div class="flex relative w-50" >
                    <div class="map-div flex">

                    </div>
                </div>
            </div>
        </div>

        <!-- Users -->
        <div class="content" v-if="visible == 'users'">
            <!-- Header -->
            <div class="content-header flex flex-column relative">
                <div style="border-bottom: 1px solid black;">
                    <span class="menu-header-text content-header-text">users view</span>
                </div>
            </div>

            <div class="flex relative flex-column">
                <div class="user-categories flex">
                    <button class="category first-category" id="shoppers" name="tags" v-on:click="changeDisplayedUsers('shoppers')">Shoppers</button>
                    <button class="category" id="managers" name="tags" v-on:click="changeDisplayedUsers('managers')">Managers</button>
                    <button class="category" id="deliveryWorkers" name="tags" v-on:click="changeDisplayedUsers('deliveryWorkers')">Delivery workers</button>
                    <button class="category last-category" id="admins" name="tags" v-on:click="changeDisplayedUsers('admins')">Admins</button>
                </div>
                <!-- Shoppers -->
                <div class="users-for-category flex flex-column" v-if="userVisible == 'shoppers'">
                    <div class="flex">
                        <input type="text" class="text-input user-text-filter user-filter" placeholder="First name...">
                        <input type="text" class="text-input user-text-filter user-filter" placeholder="Last name...">
                        <input type="text" class="text-input user-text-filter " placeholder="Username...">
                        <button class="asc-desc text-input" v-on:click="changeAscDesUser()" name="ascDescShopperButton">
                            <span class="placeholder-text">Order : </span> {{shopperFilterObj.ascDes}}
                        </button>
                        <input type="number" class="text-input user-text-filter user-filter" placeholder="Points..." min="0" oninput="validity.valid||(value='');">
                        <div class="flex relative flex-column">
                            <div class="combo-imput rest-type-width-filtering" onclick="openDropDown('shoppertypefilterselect')" name="shoppertypefilterselect">
                                <span class="placeholder-text">Type of shopper : </span> {{shopperFilterObj.shopperType}}
                            </div>
                            <div class="combo-options" name="shoppertypefilterselectdropdown">
                                <button class="combo-option combo-option-first" v-on:click="changeFilterShopperType('ALL', 'shoppertypefilterselect')">ALL</button>
                                <button class="combo-option"  v-on:click="changeFilterShopperType('BRONZE', 'shoppertypefilterselect')">BRONZE</button>
                                <button class="combo-option"  v-on:click="changeFilterShopperType('SILVER', 'shoppertypefilterselect')">SILVER</button>
                                <button class="combo-option combo-option-last" v-on:click="changeFilterShopperType('GOLD', 'shoppertypefilterselect')">GOLD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../Bootstrap/js/bootstrap.min.js"></script>
    <script src="../Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../jquery-3.3.1.min.js"></script>
    <script src="../../axios.js"></script>
    <script src="../../vue.js"></script>
    <script src="../AdminDashboard/admindashboard.js"></script>

</body>
</html>