body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-size: 100%;
    overflow: hidden;
  }

.mysidebar {
    height: 890px;
    margin-left: 100px;
}

.mytoppadding {
    margin-top: 20px;
}

.myButtonMenu {
    text-align: left;
    margin-bottom: 4px;
}

.myJumbotron {
    height: 270px;
}

.mySlideItems {
    object-fit: cover;
    height: 268px;
    width: auto;
    object-position: left top;
    opacity: 0.9;
}

.mycanvas {
    height: 100px;
    position: 0% 100%;
}

.myMainRestaurants {
    height: 600px;
}

.headerRow {
    margin-top: 20px;
    margin-bottom: 20px;
}

.normalRow {
    margin-top: 40px;
    margin-left: 40px;
}

.myRestaurantCard {
    height: 320px;
}

.myChosenRestHeader {
    height: 200px;
}

.my-custom-scrollbar {
    position: relative;
    height: 640px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

