
.mainmenu{
    color: black;
    margin-top: 20px;
}

.myButtonMenu {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.columns{
    border: 2px solid;
    color: azure;
    height: 890px;
}

.picturecontainer {
    height: 200px;
}

.caroselimage{
    height: 200px;
}

.secondrow{
    height: 650px;
}

.blackLetters{
    color: black;
}

.mysidebar {
    height: 890px;
    margin-left: 100px;
}

